#task {
	max-width: 800px;
	overflow: auto;
	margin: auto;
	padding: 20px 0px;
	text-align: center;
}
#task-content {
	text-align: justify;
	hyphens: auto;
	padding: 0px 25px;
}
pre {
	margin: 8px 4px 8px 16px;
	padding: 6px;
	padding-left: 8px;
	border: 1px solid #999;
	border-left: 4px solid #222;
}
#taskLink {
	display: none;
	margin-top: 30px;
}